spring:
  profiles:
    active: prod
  datasource:
    validationQuery: SELECT 1

---

spring:
  profiles: prod
  datasource:
    url: "jdbc:h2:mem:PROD;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE"
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    properties:
      hibernate:
        dialect : org.hibernate.dialect.H2Dialect
    database: HSQL
    database-platform: org.hibernate.dialect.H2Dialect

---

spring:
  profiles: test
  datasource:
    url: "jdbc:h2:mem:TEST;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE"
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    properties:
      hibernate:
        dialect : org.hibernate.dialect.H2Dialect
    database: HSQL
    database-platform: org.hibernate.dialect.H2Dialect
---

api:
  url_base: /report